<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<h2>元素</h2>
<form name="input" action="study_element" method="POST">
    study:<input type="text" name="name" placeholder="输入名称">
    <input type="text" name="definition" placeholder="输入定义">
    <input type="submit" value="Submit">
</form>
<br/>
<br/>
<form name="input" action="test_element" method="GET">
    test:<input type="text" name="name" placeholder="输入名称">
    <input type="text" name="teststr" placeholder="输入测试字符串">
    <input type="submit" value="Submit">
</form>
<br/>
<br/>
<h2>规则</h2>
<form name="input" action="study_rule" method="POST">
    study:<input type="text" name="name" placeholder="输入名称">
    <input type="text" name="definition" placeholder="输入定义">
    <input type="text" name="verification" placeholder="输入校验字符串">
    <input type="submit" value="Submit">
</form>
<br/>
<br/>
<form name="input" action="test_rule" method="GET">
    test:<input type="text" name="name" placeholder="输入名称">
    <input type="text" name="teststr" placeholder="输入测试字符串">
    <input type="submit" value="Submit">
</form>
</body>